* {
  user-select: none;
}

/* COMPONENTS PLACEMENT */

.discord-container {
  margin: 0;
  background-color: #313338;
  transition: background-color 0.3s ease;
  font-family: var(--discord-font);
  display: flex;
  align-items: start;
  flex-direction: row;
}

/* SIDEBAR */

.sidebar {
  display: flex;
  flex: 0.85;
  flex-direction: column;
  height: 100vh;
  background-color: #2f3135;
}

.sidebar-serverName {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 3.8px;
  background-color: #2f3135;
  color: white;
  border-bottom: 3px solid rgb(0 0 0 / 20%);
  cursor: not-allowed;
}

.sidebar-serverName:hover {
  background-color: #35373c;
}

.sidebar-serverName > img {
  height: 20px;
  padding: 10px;
}

.sidebar-serverName > h3 {
  margin-left: 10px;
}

.sidebar-channels {
  overflow-y: scroll;
}

.channel-container {
  flex: 1;
}

.sidebar__addChannel:hover {
  color: white;
}

.channel-category {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  background-color: #2f3135;
  color: gray;
}

.category-name {
  display: flex;
  align-items: center;
  margin-top: 20px;
  height: 10px;
  color: lightgray;
}

.category-name > img {
  height: 20px;
  padding: 5px;
  cursor: not-allowed;
}

.category-name > h4 {
  opacity: 0.7;
  font-weight: 500;
  font-size: 1.2rem;
}

.category-name > h4:hover {
  opacity: 1;
}

.sidebar-voiceInfo,
.sidebar-user,
.sidebar-interactions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: gray;
  background-color: #232428;
  padding: 10px;
}

.voiceInfo-content {
  flex: 1;
  padding: 10px;
}

.voiceInfo-content > span {
  display: flex;
  align-items: center;
}

.voiceInfo-content > span > img {
  height: 20px;
}

.voiceInfo-content > span > h3 {
  margin: 0;
  margin-left: 10px;
  color: #3eb17d;
  font-size: 1rem;
}

.voiceInfo-content > p {
  margin: 0;
  color: gray;
  font-size: 0.8rem;
  font-weight: 600;
}

.voiceInfo-icons > img {
  cursor: not-allowed;
  padding: 10px;
  opacity: 0.7;
}

.voiceInfo-icons > img:hover {
  opacity: 1;
}

.interaction-box {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #313338;
  height: 40px;
  width: 60px;
  border-radius: 5px;
  cursor: not-allowed;
}

.sidebar__voiceInterractionIcons {
  display: flex;
  align-items: center;
}

.sidebar-user {
  border-top: 1px solid rgb(0 0 0 / 30%);
}

.sidebar-user > img {
  flex: 0.2;
  max-width: 50px;
  height: 50px;
  border-radius: 30px;
}

.sidebar-user > span {
  flex: 1;
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  color: white;
}

.sidebar-user > span > h3,
.sidebar-user > span > p {
  margin: 0;
}

.sidebar-user > span > p {
  color: gray;
}

.sidebar__profileIcons {
  cursor: not-allowed;
  flex: 1;
}

.sidebar__profileIcons > img {
  padding: 7px;
}

.sidebarChannel:hover > h4 {
  color: white;
  background-color: #40464b;
  border-radius: 5px;
}

/* SIDEBAR CHANNELS */

.sidebarChannel-name {
  display: flex;
  padding-left: 15px;
  align-items: center;
  justify-content: space-between;
  color: #cbcbcb;
  cursor: pointer;
  margin: 10px;
  height: 40px;
  border-radius: 5px;
}

.sidebarChannel-name:hover {
  background-color: #404249;
}

.sidebarChannel-name--selected {
  background-color: #404249;
}

.sidebarChannel-name--selected:hover {
  background-color: #40464b;
}

.sidebarChannel-icon {
  display: flex;
  margin: 5px;
  height: 20px;
}

.sidebarChannel-icon > img {
  filter: invert(50%);
}

.sidebarChannel-icon > h4 {
  margin: 0 0 0 5px;
  transform: translateY(-5px);
  font-weight: 600;
  font-size: 1.2rem;
}

.sidebarChannel-userInVoice {
  display: flex;
  height: 40px;
  width: 60px;
  border-radius: 5px;
  cursor: not-allowed;
  margin-left: 15%;
}

.sidebarChannel-userInVoice > img {
  height: 25px;
  padding: 7px;
  border-radius: 50%;
}

.sidebarChannel-userInVoice > p {
  display: flex;
  align-items: center;
  color: #b0b3b8;
  margin: 0;
  font-weight: 600;
}

.sidebarChannel-name > img {
  display: none;
  cursor: not-allowed;
  padding: 10px;
}

.sidebarChannel-name:hover > img {
  display: block;
}

/* CHAT HEADER */

.chatHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: gray;
  padding: 0 20px;
  background-color: #313338 !important;

  box-shadow: 0 3px 0 0 rgb(0 0 0 / 20%);
}

.channelName-hash {
  color: gray;
  font-size: 30px;
}

.chatHeader-channelName > h3 {
  display: flex;
  margin: 5px;
  align-items: center;
  color: white;
}

.chatHeader-channelName > h3 > span {
  padding: 10px;
}

.chatHeader-interactions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.chatHeader-interactions > img {
  cursor: not-allowed;
  padding: 10px;
  opacity: 0.7;
}

.chatHeader-interactions > img:hover {
  opacity: 1;
}

.interaction-search {
  display: flex;
  align-items: center;
  color: gray;
  border-radius: 3px;
  padding: 3px;
  position: relative;
}

.interaction-search > .search-input {
  background-color: #1e1f22;
  padding: 5px;
  flex-grow: 0;
  font-family: var(--discord-font);
  font-weight: 600;
  outline-width: 0;
  color: white;
  border: none;
  width: 200px;
  border-radius: 3px;
  transition: width 0.3s ease-in-out;
}

.interaction-search > .search-icon {
  position: absolute;
  left: 190px;
  top: 50%;
  transform: translateY(-50%);
  width: 15px;
  transition: left 0.3s ease-in-out;
}

.interaction-search > .search-input:focus {
  flex-grow: 1;
  width: 300px;
}

.interaction-search > .search-input:focus + .search-icon {
  left: calc(300px - 10px);
}

.interaction-search > .search-icon:hover {
  cursor: text;
}

.chatHeader-banner {
  font-family: inherit;
  background-color: #5563e9;
  margin: 0 20px 0 20px;
  border-radius: 0 0 15px 15px;
  color: white;
  padding: 0 0 0 20px;
  font-weight: 600;
  font-size: 0.9rem;
  cursor: pointer;
  border: none;
  text-align: start;
}

.banner-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.banner-content > span {
  display: flex;
  width: 120px;
  height: 20px;
  margin-right: 10px;
}

.banner-content > span > p {
  margin: 0;
  margin-right: 10px;
}

.chatHeader-banner > p {
  margin: 7px;
}

/* CHAT */

.chat {
  display: flex;
  flex: 4;
  flex-direction: column;
  height: 100vh;
}

.chat-toggleMembers {
  z-index: 5;
  width: 100%;
}

.chat-content {
  display: flex;
  flex-direction: column;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  height: 100%;
}

.chat-messages {
  overflow-y: auto;
  flex: 10;
}

.chat-messages::-webkit-scrollbar {
  display: none;
}

.chat-input {
  color: lightgray;
  display: flex;
  flex: 0.5;
  align-items: center;
  padding: 10px;
  border-radius: 20px;
  margin: 20px;
  background-color: #383a40;
}

.chat-input > form > input {
  padding: 15px;
  background: transparent;
  border: none;
  width: 100%;
  outline-width: 0;
  color: white;
  font-size: 1.3rem;
}

.chat-input > form {
  flex: 1;
}

.chat-input-interactions > img,
.chat-input > img {
  width: 2.2rem;
  margin: 0 10px;
  opacity: 0.7;
  cursor: not-allowed;
}

.chat-input-interactions > img:hover,
.chat-input > img:hover {
  opacity: 1;
}

.interaction-emoji {
  cursor: pointer;
  transition: transform 0.1s ease-in-out;
  filter: grayscale(100%);
}

.interaction-emoji:hover {
  transform: scale(1.1);
  filter: grayscale(0%);
  cursor: pointer;
}

.chat-members {
  position: absolute;
  overflow-y: hidden;
  right: 0;
  top: 0;
  width: 300px;
  height: 100%;
}

/* MESSAGE */

.message {
  display: flex;
  align-items: center;
  color: white;
  font-size: 1.3rem;
}

.message:hover {
  background-color: #2e3035;
}

.message img {
  height: 60px;
  border-radius: 40px;
}

.first-user-message {
  margin-top: 20px;
  padding: 0 0 0 30px;
}

.message__info {
  padding: 0 0 0 25px;
}

.message-content {
  padding: 5px 0 0 0;
}

.message-timestamp {
  color: gray;
  padding-left: 10px;
  font-family: inherit;
  font-size: 0.7rem;
  font-weight: 600;
}

.same-user-message {
  padding: 0 0 0 115px;
}

/* MEMBERS */

.members {
  background-color: #2b2d31;
  color: #b0b3b8;
  height: 100vh;
  padding: 70px 0 20px 20px;
}

.members > h3 {
  font-weight: 600;
  font-size: 1.1rem;
}

.member {
  display: flex;
  padding: 0 0 20px 0;
  cursor: not-allowed;
}

.member-avatar {
  display: flex;
  padding: 0;
  margin: 0;
  align-items: center;
}

.member-status {
  position: relative;
  right: 15px;
  top: 12px;
  height: 13px;
  width: 13px;
  border-radius: 50%;
  border: 5px solid #2f3135;
  background-color: #80848e;
}

.online {
  background-color: #43b581;
}

.dnd {
  background-color: #f04747;
}

.status-icon-dnd {
  position: absolute;
  top: 5px;
  left: 2.5px;
  height: 3px;
  width: 7px;
  border-radius: 5px;
  background-color: #2f3135;
}

.status-icon-offline {
  position: absolute;
  top: 3px;
  left: 3px;
  height: 7px;
  width: 7px;
  border-radius: 5px;
  background-color: #2f3135;
}

.member-avatar img {
  height: 40px;
  border-radius: 30px;
}

.member-name {
  position: relative;
  top: 5px;
  right: 10px;
  font-weight: 600;
  font-size: 1.2rem;
  font-family: inherit;
}
