.home-container {
  font-family: var(--primary-font) !important;
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  padding-top: 1rem;
}

.theme-btn {
  position: relative;
  left: 8.5rem;
}

.home-container h1,
.home-container h2,
.home-container h3,
.home-container p {
  margin: 0;
  cursor: default;
}

.home-container article,
.home-container footer,
.hero,
.logo-container,
.experience,
.cta,
.portfolio-skills,
.btn-bg,
.portfolio,
.skills {
  display: flex;
}

.hero,
.portfolio,
.skills {
  flex-direction: column;
}

.hero,
.btn-bg,
.portfolio,
.skills {
  align-items: center;
}

.hero,
.experience,
.wrapper {
  text-align: center;
}

.home-container article,
.hero,
.logo-container,
.portfolio,
.skills {
  gap: 1rem;
}

.hero-pic {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}

.inner-circle {
  content: "";
  position: absolute;
  top: 0.1rem;
  left: 0.1rem;
  bottom: 0.1rem;
  right: 0.1rem;
  border-radius: 50%;
  border: 0.18rem solid var(--primary-bg-color);
  z-index: 1;
}

.hero-pic img,
.wrapper img {
  width: 100%;
}

.hero-pic img {
  height: 100%;
  object-fit: cover;
  transform: scale(1);
}

.hero-info h1,
h2 {
  font-weight: 700;
}

.skill-item,
.hero-info > h2 {
  color: var(--secondary-color);
}

.hero-info > h2 {
  font-size: 1rem;
  margin: 0 0 1rem 0;
}

.home-container > footer,
.logo-container,
.experience,
.cta,
.portfolio-skills,
.btn-bg {
  justify-content: center;
}

.theme-btn,
.logo-container > a,
.logo-container > a > img {
  height: 1.5rem;
}

.experience {
  margin: auto;
  margin-top: 1.4rem;
  max-width: 22rem;
}

.experience > b {
  font-weight: 700;
}

.experience > h2 {
  font-family: var(--primary-font);
  width: 40%;
  font-weight: 400;
  font-size: 0.9rem;
}

.experience h2 a {
  font-family: var(--primary-font);
  color: var(--cta-hover-color);
  text-decoration: none;
  font-weight: 400;
  font-size: 0.76rem;
}

.experience > h2 > a:hover {
  text-decoration: underline;
  color: var(--cta-hover-color);
}

.experience > h2 > span {
  font-family: var(--secondary-font);
  font-size: 0.7rem;
  margin-bottom: 0.5rem;
}

.cta {
  margin-top: 1.2rem;
}

.cta,
.btn-bg {
  gap: 2rem;
}

.btn,
.btn-2,
.btn-bg {
  border-radius: 0.7rem;
  border: none;
}

.btn,
.btn-2,
.btn-bg,
.wrapper h3 {
  font-weight: 600;
}

.btn,
.btn-2,
.btn-bg,
.wrapper,
.project-wrapper {
  transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275),
    background-color 0.3s ease, color 0.3s ease;
}

.download-btn:hover {
  background-color: var(--cta-hover-color);
}

.theme-btn,
.download-btn:hover,
.contact-btn:hover,
.btn-2:hover,
.wrapper img:hover {
  cursor: pointer;
}

.btn:hover,
.btn-2:hover,
.project-wrapper:hover,
.logo-container a:hover {
  transform: scale(0.98);
}

.btn:active,
.btn-2:active,
.project-wrapper:active,
.logo-container a:active {
  transform: scale(1);
}

.contact-btn:hover,
.download-btn {
  background-color: var(--btn-bg-color);
  color: white;
}

.contact-btn:hover {
  transition: background-color 0.3s ease, color 0.3s ease;
}

.contact-btn {
  color: var(--primary-text-color);
  background-color: var(--nav-bg-color);
}

.btn-2 {
  width: 8.5rem;
  background-color: var(--btn-nav-bg-color);
  color: var(--btn-text-color);
}

.btn-2:hover,
.active-btn {
  background-color: var(--btn-nav-bg-selected-color);
  color: var(--btn-text-active-color);
}

.btn,
.btn-2 {
  height: 3rem;
}

.btn {
  width: 9rem;
}

.download-btn {
  transition: background-color 0.3s ease;
}

.portfolio-skills {
  height: 4rem;
  margin-top: 1.5rem;
  position: relative;
}

.btn-bg,
.wrapper {
  width: 20rem;
}

.skill-item,
.btn-bg {
  background-color: var(--nav-bg-color);
}

.portfolio,
.skills {
  margin-top: 2rem;
}

.portfolio img,
.hero-pic,
button {
  box-shadow: 0 0 0.5rem 0.1rem rgba(0, 0, 0, 0.1);
}

.skill-container p {
  font-size: 0.9rem;
}

.skill-item:hover {
  transform: scale(1.05);
  cursor: help;
}

.skill-stars {
  display: flex;
  justify-content: center;
  font-size: 0.5rem;
}

.trophies {
  cursor: help;
}

.wrapper img {
  border-radius: 1rem;
}

.home-container article,
.wrapper h3 {
  margin-bottom: 1.5rem;
}

.home-container article {
  flex-wrap: wrap;
}

.skill-item {
  border-radius: 0.5rem;
  flex-grow: 20;
  padding: 0.75rem;
}

.home-container footer {
  margin: 3rem 0;
}

.project-info {
  position: relative;
}

.project-info > .front-image {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.8;
  height: 100%;
}

@media screen and (min-width: 900px) {
  .skills,
  .portfolio {
    flex-direction: row;
    width: 45rem;
  }
  .skills {
    margin: 2rem auto;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: self-start;
  }
  .portfolio {
    margin: 2rem auto;
    flex-wrap: wrap;
    justify-content: center;
  }
  .wrapper {
    width: calc(48%);
    flex: none;
    margin-bottom: 1rem;
  }
}
