body {
  margin: 0;
  font-family: var(--primary-font, "Arial, sans-serif");
  background-color: var(--primary-bg-color);
  transition: background-color 0.3s ease;
  color: var(--primary-text-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  /* Light Theme */
  --primary-font: "Poppins", sans-serif;
  --primary-bg-color: #fafafa;
  --primary-text-color: #333333;
  --secondary-font: "Inter", sans-serif;
  --secondary-color: #575757;
  --btn-bg-color: #1a73e8;
  --cta-hover-color: #167bce;
  --nav-bg-color: #f0f0f0;
  --btn-nav-bg-color: #f5f5f5;
  --btn-nav-bg-selected-color: #e0e0e0;
  --btn-text-color: #575757;
  --btn-text-active-color: #333333;
  /* Tooltip */
  --rt-transition-show-delay: 0.3s !important;
  --rt-opacity: 1 !important;
  --rt-color-white: #333333 !important;
  --rt-color-dark: #f5f5f5 !important;

  /* Dark Theme */
  --dark-primary-bg-color: #242424;
  --dark-primary-text-color: #e8eaed;
  --dark-secondary-color: #828282;
  --dark-btn-bg-color: #42a5f5;
  --dark-cta-hover-color: #2196f3;
  --dark-nav-bg-color: #2c2f33;
  --dark-btn-nav-bg-color: #25262b;
  --dark-btn-nav-bg-selected-color: #323639;
  --dark-btn-text-color: #9f9f9f;
  --dark-btn-text-active-color: #e8eaed;
  /* Tooltip */
  --dark-rt-color-white: #e8eaed;
  --dark-rt-color-dark: #25262b;
}

.dark-theme {
  --primary-bg-color: var(--dark-primary-bg-color);
  --primary-text-color: var(--dark-primary-text-color);
  --secondary-color: var(--dark-secondary-color);
  --btn-bg-color: var(--dark-btn-bg-color);
  --cta-hover-color: var(--dark-cta-hover-color);
  --nav-bg-color: var(--dark-nav-bg-color);
  --btn-nav-bg-color: var(--dark-btn-nav-bg-color);
  --btn-nav-bg-selected-color: var(--dark-btn-nav-bg-selected-color);
  --btn-text-color: var(--dark-btn-text-color);
  --btn-text-active-color: var(--dark-btn-text-active-color);
  /* Tooltip */
  --rt-color-white: var(--dark-rt-color-white) !important;
  --rt-color-dark: var(--dark-rt-color-dark) !important;
}
